p, li {
    color: #ccc;
}
#banner {
    position: relative;
}
#banner img {
    width: 100%;
}
#banner h1 span {
    display: none;
}
#banner h1 {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
}

@media (max-width: 600px) {
    #banner h1 {
        font-size: 40px;
        top: 10px;
        position: relative;
    }
}

textarea {
    width: 100%;
}

#error {
    display: none;
}